{% extends "base.html" %}


{% block Title %}
管理者画面
{% endblock %}

{% block Content %}
<div class="subtitle">
  サーバー設定
</div><!--subtitle-->
<label for="LastRefreshDate">最終更新日付:</label>
<input id="LastRefreshDate" name="LastRefreshDate" value="{{ LastRefreshDate }}">
<button name="ok" value="設定変更">設定変更</button>
<br>
<div class="subtitle">
  SQL接続
</div>
<textarea style="width: 80%;font-size: 150%;" name="sql_code" rows="30">
{{ sql_code }}</textarea>
<br>
{% endblock %}

{% block Table %}
<button name="ok" value="SQL送信" style="width:100%;font-size:200%;">SQL送信</button>
{{ values }}
{% endblock %}