<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>M端末</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" 
      href="{{ url_for('static',filename='css/color_' + user_dic['MyColor'] + '.css') }}">
    {% block Head %}
    {% endblock %}
  </head>
  <body>
    <!-- タイトル画面 -->
    <div id="Title">
      <div class="item" id="title-left" ><a href="/" 
        title="※入力中データは保存されません！">初期画面へ</a></div>
      <div class="item" id="title-center">
        {% block Title %}
        {% endblock %}
      </div>
      <div class="item" id="title-right" ><a href="/setting"
        title="※入力中データは保存されません！">設定画面へ</a></div>
    </div><!--title-->
    <form method="POST">
      <div class="content">
        {% block Content %}
        {% endblock %}
        <div id="loading" style="display:none;"></div>
      </div><!--content-->
      {% block Table %}
      {% endblock %}
    </form><!--post-->
    <script type="text/javascript" src="{{ url_for('static',filename='js/base.js') }}"></script>
    {% block Scripts %}
    {% endblock %}
    <br>
    <footer class="footer">
      <p>お問い合わせ先：
        <a href="mailto:h-kitaura@minoru-sangyo.co.jp" title="メールを開きます">
          h-kitaura@minoru-sangyo.co.jp
        </a>
      </p>
      <a href="#" title="最上部へ戻ります">トップページへ</a>
    </footer>
  </body>
</html>