{% extends "base.html" %}

{% block Head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/table.css') }}">
{% endblock %}


{% block Title %}
{% if   user_dic["Department"] == "Sales" %}
  営業
{% elif user_dic["Department"] == "Plant" %}
  工場
{% endif %}
{% endblock %}

{% block Content %}

{% if   user_dic["Department"] == "Sales" %}
  <div class="dummy">
    <button formaction="{{ url_for('show_table') }}" 
      name="データ名" value="売上データ" onclick="showLoading();"></button>
  </div><!--dummy-->
  {% include "form_sales.html" %}

{% elif user_dic["Department"] == "Plant" %}
  <div class="dummy">
    <button formaction="{{ url_for('show_table') }}" 
      name="データ名" value="仕入データ" onclick="showLoading();"></button>
  </div><!--dummy-->
  {% include "form_plant.html" %}
{% endif %}

{% endblock %}