<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>M端末</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
  </head>
  <body>
    <!-- タイトル画面 -->
    <div class="title">
      <a id="left-title" href="/">初期画面へ</a>
      <div id="main-title">
        {% if method_type=="get" %}
          ようこそ
        {% else %}
          {{ db_name }}参照
        {% endif %}
      </div><!--center-->
      <a id="right-title" href="/setting">設定画面へ</a>
    </div><!--title-->
    <!-- メイン画面 -->
    <div class="content">
      <div class="subtitle">
        データ抽出
      </div><!--subtitle-->
      <div class="main-form">
        <form method="post">
          <div class="dummy">
            {% if method_type == "get" %}
              <button formaction="{{ url_for('index',db_name='売上データ') }}" onclick="showLoading();">売上データ</button>
            {% elif method_type == "post" %}
              <button formaction="{{ url_for('index',db_name=db_name) }}" onclick="showLoading();">{{ db_name }}</button>
            {% endif %}
          </div><!--dummy-->
        <!--Query DataBase-->
          <table>
            <tbody>
              <tr>
                <td><label for="開始日付">開始日付:</label></td>
                <td><input type="date" name="開始日付" value="{{ user_query['開始日付'] }}"></td>
                <td></td>
              </tr>
              <tr>
                <td><label for="終了日付">終了日付:</label></td>
                <td><input type="date" name="終了日付" value="{{ user_query['終了日付'] }}"></td>
                <td></td>
              </tr>
              <tr>
                <td><label for="得意先">得意先ｺｰﾄﾞ ｶﾅ：</label></td>
                <td><input type="text" name="得意先" value="{{ user_query['得意先'] }}"></td>
                <td><button formaction="{{ url_for('search', column='得意先') }}">得意先マスタ</button></td>
              </tr>
              <tr>
                <td><label for="雑">雑ｺｰﾄﾞ ｶﾅ：</label></td>
                <td><input type="text" name="雑" value="{{ user_query['雑'] }}"></td>
                <td><button formaction="{{ url_for('search', column='雑') }}">雑マスタ</button></td>
              </tr>
              <tr>
                <td><label for="送荷先">送荷先ｺｰﾄﾞ ｶﾅ：</label></td>
                <td><input type="text" name="送荷先" value="{{ user_query['送荷先'] }}"></td>
                <td><button formaction="{{ url_for('search', column='送荷先') }}">送荷先マスタ</button></td>
              </tr>
              <tr>
                <td><label for="製品部品">製品部品ｺｰﾄﾞ ｶﾅ：</label></td>
                <td>
                  <input type="text" name="製品部品" value="{{ user_query['製品部品'] }}">
                  <select name="製品部品フラグ">
                    {% if user_query['製品部品フラグ']   == "seihin" %}
                      <option value=""></option>
                      <option value="seihin" selected>製品のみ</option>
                      <option value="buhin">部品のみ</option>
                    {% elif user_query['製品部品フラグ'] == "buhin" %}
                      <option value=""></option>
                      <option value="seihin">製品のみ</option>
                      <option value="buhin" selected>部品のみ</option>
                    {% else %}
                      <option value="" selected></option>
                      <option value="seihin">製品のみ</option>
                      <option value="buhin">部品のみ</option>
                    {% endif %}
                  </select>
                </td>
                <td><button formaction="{{ url_for('search', column='製品部品') }}">製品部品マスタ</button></td>
              </tr>
              <tr>
                <td><label for="担当者">担当者ｺｰﾄﾞ 名：</label></td>
                <td><input type="text" name="担当者" value="{{ user_query['担当者'] }}"></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="comments">
            ※カンマ(,)で区切ることで、複数条件を抽出することができます。
          </div>
          {% if method_type == "post" %}
            {% if user_query["順列タイプ"] == "降順" %}
              <input type="checkbox" name="順列タイプ", value="昇順">
            {% else %}
              <input type="checkbox" name="順列タイプ", value="昇順" checked>
            {% endif %}
            <label for="順列">昇順:</label>
            <select name="順列">
              <option value="" selected></option>
              {% for column in headers %}
                {% if column == user_query['順列'] %}
                  <option value="{{ column }}" selected>{{ column }}</option>
                {% else %}
                  <option value="{{ column }}">{{ column }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <br>
          {% else %}
            <input type="hidden" name="順列タイプ" value="昇順">
            <input type="hidden" name="順列" value="">
          {% endif %}
          <div class="bigbutton">
            {% if method_type == "get" %}
              <button formaction="{{ url_for('index',db_name='売上データ') }}" onclick="showLoading();">売上データ</button>
              <button formaction="{{ url_for('index',db_name='出荷データ') }}" onclick="showLoading();">出荷データ</button>
            {% elif method_type == "post" %}
              <button formaction="{{ url_for('index',db_name=db_name) }}" onclick="showLoading();">{{ db_name }}</button>
            {% endif %}
          </div>
        </form>
        <!--Display Loading-->
        <div id="loading" style="display:none;"></div>
      </div><!--main-form-->
      {% if method_type == "post" %}
        <div class="subtitle">
          データテーブル
        </div><!--subtitle-->
        <div id="datatable">
          <!--Message of Totall Data-->
          {% for m in messages %}
            {{ m }} &emsp;&emsp;
          {% endfor %}
          <!--Download data to csv-->
          <a href="{{ url_for('download',db_name=db_name) }}">ダウンロード</a>
        </div><!--datatable-->
      {% endif %}
    </div><!--content-->
    <!--Table of Data-->
    <div class="comments">
      最終更新日付:{{ refresh_date }} &emsp;&emsp;
      {% if method_type == "post" %}
        ※列名に＊がついたものは、現在のマスタから取得しています。
      {% endif %}
    </div><!--comments-->
    <div class="dataframe">
      <table>
        <thead>
          <tr>
            {% for header in headers %}
            <th>
              {{ header }}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for record in records %}
            <tr>
              {% for rec in record %}
              <td>{{ rec }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>