<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>M端末</title>
    <!--My Static-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  </head>
  <body>
    <!-- タイトル画面 -->
    <div class="title">
      <a id="left-title" href="/">初期画面へ</a>
      <div id="main-title">
        {% if method_type=="get" %}
          ようこそ
        {% else %}
          {{ db_name }}参照
        {% endif %}
      </div><!--center-->
      <a id="right-title" href="/setting">設定画面へ</a>
    </div><!--title-->
    <!-- メイン画面 -->
    <div class="content">
      <div class="subtitle">
        抽出条件入力
        <input id="extract-" class="smallbutton" type="image" src="/static/image/マイナス.png" alt="非表示" onclick="hideForm();">
        <input id="extract--" class="smallbutton" type="image" src="/static/image/プラス.png" alt="表示" style="display:none;" onclick="showForm();">
      </div><!--subtitle-->
      <form method="post">
        <input type="hidden" name="index">
        <div id="extract" class="main-form">
          <div class="dummy">
            {% if method_type == "get" %}
              <button formaction="{{ url_for('index',db_name='売上データ') }}" onclick="showLoading();">売上データ</button>
            {% elif method_type == "post" %}
              <button formaction="{{ url_for('index',db_name=db_name) }}" onclick="showLoading();">{{ db_name }}</button>
            {% endif %}
          </div><!--dummy-->
          <!--Query DataBase-->
          <table>
            <tbody>
              <tr>
                <td><label for="開始日付">開始日付:</label></td>
                <td><input type="date" name="開始日付" value="{{ user_query['開始日付'] }}"></td>
                <td></td>
              </tr>
              <tr>
                <td><label for="終了日付">終了日付:</label></td>
                <td><input type="date" name="終了日付" value="{{ user_query['終了日付'] }}"></td>
                <td></td>
              </tr>
              <tr>
                <td><label for="得意先">得意先ｺｰﾄﾞ ｶﾅ：</label></td>
                <td><input type="text" name="得意先" value="{{ user_query['得意先'] }}"></td>
                <td><button formaction="{{ url_for('search', column='得意先') }}">得意先マスタ</button></td>
              </tr>
              <tr>
                <td><label for="雑">雑ｺｰﾄﾞ ｶﾅ：</label></td>
                <td><input type="text" name="雑" value="{{ user_query['雑'] }}"></td>
                <td><button formaction="{{ url_for('search', column='雑') }}">雑マスタ</button></td>
              </tr>
              <tr>
                <td><label for="送荷先">送荷先ｺｰﾄﾞ ｶﾅ：</label></td>
                <td><input type="text" name="送荷先" value="{{ user_query['送荷先'] }}"></td>
                <td><button formaction="{{ url_for('search', column='送荷先') }}">送荷先マスタ</button></td>
              </tr>
              <tr>
                <td><label for="製品部品">製品部品ｺｰﾄﾞ ｶﾅ：</label></td>
                <td>
                  <input type="text" name="製品部品" value="{{ user_query['製品部品'] }}">
                  <select name="製品部品フラグ">
                    {% if user_query['製品部品フラグ']   == "seihin" %}
                      <option value=""></option>
                      <option value="seihin" selected>製品のみ</option>
                      <option value="buhin">部品のみ</option>
                    {% elif user_query['製品部品フラグ'] == "buhin" %}
                      <option value=""></option>
                      <option value="seihin">製品のみ</option>
                      <option value="buhin" selected>部品のみ</option>
                    {% else %}
                      <option value="" selected></option>
                      <option value="seihin">製品のみ</option>
                      <option value="buhin">部品のみ</option>
                    {% endif %}
                  </select>
                </td>
                <td><button formaction="{{ url_for('search', column='製品部品') }}">製品部品マスタ</button></td>
              </tr>
              <tr>
                <td><label for="担当者">担当者ｺｰﾄﾞ 名：</label></td>
                <td><input type="text" name="担当者" value="{{ user_query['担当者'] }}"></td>
                <td><button formaction="{{ url_for('search', column='担当者') }}">担当者マスタ</button></td>
              </tr>
              <tr>
                <td><label for="伝票区分">伝票区分ｺｰﾄﾞ 名：</label></td>
                <td><input type="text" name="伝票区分" value="{{ user_query['伝票区分'] }}"></td>
                <td><button formaction="{{ url_for('search', column='伝票区分') }}">伝票区分マスタ</button></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="comments">
            ※カンマ(,)で区切ることで、複数条件を指定することができます。
            <br>
            最終更新日付:{{ setting_dic["最終更新日時"] }}
          </div><!--comments-->
          <div class="bigbutton">
            <button formaction="{{ url_for('index',db_name='売上データ') }}" onclick="showLoading();">売上データ</button>
            <button formaction="{{ url_for('index',db_name='出荷データ') }}" onclick="showLoading();">出荷データ</button>
          </div><!--bigbutton-->
          <!--Display Loading-->
          <div id="loading" style="display:none;"></div>
        </div><!--main-form-->
      </form><!--post-->
    </div><!--content-->
    {% if method_type == "post" %}
      <div class="TableTag">
        <table>
          <tr>
            <td colspan="4">データ表示</td>
          </tr>
          <tr>
            <td id="tab1b"><a id="tab1" class="a-button" href="javascript:showTable();">明細データ</a></td>
            <td id="tab2b"><a id="tab2" class="a-button" href="javascript:showTotall1();">期別集計</a></td>
            <td id="tab3b"><a id="tab3" class="a-button" href="javascript:showTotall2();">月別集計</a></td>
            <td id="tab4b"><a id="tab4" class="a-button" href="javascript:showTotall3();">日別集計</a></td>
          </tr>
        </table>
      </div><!--TableTag-->
      <div id="table">
        <div class="content">
          <a href="{{ url_for('download',db_name=db_name, flg='table') }}">ダウンロード</a>&emsp;&emsp;
          件数：{{ count }} &emsp;&emsp;
          {% for m in messages %}
            {{ m }} &emsp;&emsp;
          {% endfor %}
        </div><!--content-->
        <!--Table of Data-->
        <div class="comments">
          ※列名に＊がついたものは、現在のマスタから取得しています。
        </div><!--comments-->
        <div class="dataframe">
          <table class="sort-table">
            <thead>
              <tr>
                {% for header in headers %}
                <th>
                  {{ header }}
                </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for record in records %}
                <tr>
                  {% for rec in record %}
                  <td>{{ rec }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div><!--dataframe-->
      </div><!--#table-->
      <div id="totall1" style="display:none;">
        <div class="content">
          <a href="{{ url_for('download',db_name=db_name, flg='totall1') }}">ダウンロード</a>
        </div><!--content-->
        <div class="dataframe">
          <table>
            <thead>
              <tr>
                {% for header in headers1 %}
                <th>
                  {{ header }}
                </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for record in records1 %}
                <tr>
                  {% for rec in record %}
                  <td>{{ rec }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div><!--dataframe-->
      </div><!--#totall1-->
      <div id="totall2" style="display:none;">
        <div class="content">
          <a href="{{ url_for('download',db_name=db_name, flg='totall2') }}">ダウンロード</a>
        </div><!--content-->
        <div class="dataframe">
          <table>
            <thead>
              <tr>
                {% for header in headers2 %}
                <th>
                  {{ header }}
                </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for record in records2 %}
                <tr>
                  {% for rec in record %}
                  <td>{{ rec }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div><!--dataframe-->
      </div><!--#totall2-->
      <div id="totall3" style="display:none;">
        <div class="content">
          <a href="{{ url_for('download',db_name=db_name, flg='totall3') }}">ダウンロード</a>
        </div><!--content-->
        <div class="dataframe">
          <table>
            <thead>
              <tr>
                {% for header in headers3 %}
                <th>
                  {{ header }}
                </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for record in records3 %}
                <tr>
                  {% for rec in record %}
                  <td>{{ rec }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div><!--dataframe-->
      </div><!--#totall3-->
    {% endif %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>  
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $(".sort-table").tablesorter();
      });
    </script>
  </body>
</html>