{% extends "base.html" %}

{% block Title %}
設定
{% endblock %}


{% block Content %}
<div class="subtitle">
  システム設定
</div><!--subtitle-->
<div class="main-form">
  {% for key, value in setting_dic.items() %}
    <label for="{{ key }}" >{{ key }}:</label>
    <input name="{{ key }}" value="{{ value }}">
    <br>
  {% endfor %}
  <div class="subtitle">
    ユーザー設定
  </div><!--subtitle-->
  <label for="Department">ユーザー部署:</label>
  <select name="Department">
    {% if   user_dic["Department"]   == "Sales" %}
      <option value="Sales" selected>営業</option>
      <option value="Plant">工場</option>
    {% elif user_dic["Department"]   == "Plant" %}
      <option value="Plant" selected>工場</option>
      <option value="Sales">営業</option>
    {% endif %}
  </select>
  <br>
  <button class="bigbutton" name="ok" value="設定変更">設定変更</button>
</div><!--main-form-->
<div class="subtitle">
  データ更新
</div>
  {% if setting_dic["最終更新日時"] == "更新中" %}
    更新中...
  {% else %}
    <label for="first_date">開始日付:</label>
    <input type="date" name="first_date" value="{{ first_date }}" max="9999-12-31">
    <label for="last_date" >終了日付:</label>
    <input type="date" name="last_date" value="{{ last_date }}" max="9999-12-31">
    <br>
    <input type="checkbox" name="contain_master" checked>
    <label for="contain_master">マスターも更新する</label>
    <br>
    <button class="bigbutton" name="ok" value="最新データ取得" onclick="showLoading();">最新データ取得</button>
  {% endif %}
<div class="subtitle">
  ログ参照
</div><!--bigbutton-->
  <button name="ok" value="debug">debug</button>
  &emsp;&emsp;
  <button name="ok" value="info">info</button>
  &emsp;&emsp;
  <button name="ok" value="error">error</button>
<div class="comments">
  {% for t in log_texts %}
    {{ t }}<br>
  {% endfor %}
</div><!--comments-->
{% endblock %}