<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>M端末</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
  </head>
  <body>
    <!-- タイトル画面 -->
    <div class="title">
      <a id="left-title" href="/">初期画面へ</a>
      <div id="main-title">
        設定
      </div><!--center-->
      <a id="right-title" href="/setting">設定画面へ</a>
    </div><!--title-->
    <!-- メイン画面 -->
    <div class="content">
      <div class="subtitle">
        詳細設定
      </div><!--subtitle-->
      <div class="main-form">
        <form method="post">
          {% for key, value in setting_dic.items() %}
            <label for="{{ key }}" >{{ key }}:</label>
            <input name="{{ key }}" value="{{ value }}">
            <br>
          {% endfor %}
          <div class="bigbutton">
            <input type="submit" name="ok" value="設定変更">
          </div><!--bigbutton-->
        </form>
      </div><!--main-form-->
      <div class="subtitle">
        データ更新
      </div>
      <form method="post">
        {% if setting_dic["最終更新日時"] == "更新中" %}
          更新中...
        {% else %}
          <label for="first_date">更新開始日付:</label>
          <input type="date" name="first_date" value="{{ first_date }}" max="9999-12-31">
          <br>
          <input type="checkbox" name="contain_master" checked>
          <label for="contain_master">マスターも更新する</label>
          <div class="bigbutton">
            <input type="submit" name="ok" value="最新データ取得" onclick="showLoading();">
          </div><!--bigbutton-->
        {% endif %}
      </form>
      <!--Display Loading-->
      <div id="loading" style="display:none;"></div>
      <div class="subtitle">
        ログ参照
      </div><!--bigbutton-->
      <form method="post">
        <input type="submit" name="ok" value="debug">
        &emsp;&emsp;
        <input type="submit" name="ok" value="info">
        &emsp;&emsp;
        <input type="submit" name="ok" value="error">
      </form>
      <div class="comments">
        {% for t in log_texts %}
          {{ t }}<br>
        {% endfor %}
      </div><!--comments-->
    </div><!--content-->
  </body>
</html>