/*
###############################################################################
    タグ
###############################################################################
*/
a:link,
a:visited {
    color: green;
}
button:hover {
    background-color: green;
    color: white;
}
/*
###############################################################################
    クラス
###############################################################################
*/
.subtitle {
    color: green;
}
.title,
.TableTag > table,
.dataframe th {
    background-color: rgb(190, 255, 210);
    color: black;
}