/*
###############################################################################
    タグ
###############################################################################
*/
button:hover {
    background-color: black;
    color: white;
}
a:link, a:visited {
    color: black;
}
/*
###############################################################################
    クラス
###############################################################################
*/
/*
### タイトル ###
*/
.title {
    background-color: black;
    color: white;
}
.title-left > a:link, .title-left > a:visited {
    color: white;
}
.title-right > a:link, .title-right > a:visited {
    color: white;
}
/*
### 内容 ###
*/
.subtitle {
    color: black;
}
.TableTag > table {
    background-color: black;
    color: white;
}
/* 
### データ表示 ###
*/
.dataframe thead {
	border-bottom: black;
}
.dataframe tbody tr:nth-child(odd) {
	background: #f5f5f5;
}
.dataframe th {
    background: black;
    color: white;
}