.win/
ProgramData/__pycache__/
ProgramData/database.db
ProgramData/download.csv
ProgramData/setting.json
ProgramFiles/__pycache__/
ProgramFiles/db/__pycache__/
ProgramFiles/flaskr/__pycache__/
ProgramFiles/log/__pycache__
ProgramFiles/log/debug.txt
ProgramFiles/log/error.txt
ProgramFiles/log/info.txt