ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 30px;
    display: inline;
}

.jumbotron {
    background-color: skyblue;
}

.iconStartMenu {
    margin: auto;
    text-align: center;
    height: 80px;
    width: 80px;
}
