{% macro render_field(field, master=false) %}
<dt>{{ field.label }}
  {% if master %}
  <a href="{{ url_for('search.master', tablename=master ) }}">
    <img width="21px" src="{{ url_for('search.static', filename='icon/search.svg') }}" />
    マスタ検索
  </a>
  {% endif %}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li style="color: red;">{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
</dt>
{% endmacro %}
