{% macro render_field(field, id=None, master=false) %}
<div class="col form-group">
  <dt>
    {{ field.label }}
    <!-- マスタ検索 -->
    {% if master %}
    <a href="{{ url_for('search.master', tablename=master) }}">
      <img width="21px" src="{{ url_for('search.static', filename='icon/search.svg') }}" />
      検索
    </a>
    {% endif %}
    <dd>
      {{ field(id=id, class_="form-control")|safe }}
      {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
          <li style="color: red;">{{ error }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </dd>
  </dt>
</div>
{% endmacro %}
