<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>M端末</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    {% block head %}{% endblock %}
  </head>
  <body>

    <!--トップページへボタン-->
    <div id="page_top">
      <a href="#">
        <img width="50px" src="{{ url_for('static', filename='icon/page_top.svg') }}" />
      </a>
    </div><!-- #page_top -->

    <!--ロード画面-->
    <img id="loading" style="display: none;"
      src="{{ url_for('static', filename='image/loading.svg') }}"
    />
    
    <!-- ナビゲーション -->
    <!--navbar-expand-sm: 画面が小さい時にメニューアイコンを表示する-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a href="/" class="navbar-brand" onclick="showLoading()">
        <img width="25px" src="{{ url_for('static', filename='icon/main.svg') }}" />
        M端末
      </a>
      <div class="navbar-brand">
        ー&nbsp;{% block title %}{% endblock %}&nbsp;ー
      </div>
      <button class="navbar-toggler" type="button"
        data-toggle="collapse"
        data-target="#navmenu1"
        aria-controls="navmenu1"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu1">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{{ url_for('search.sales') }}" onclick="showLoading()">
            <img width="23px" src="{{ url_for('static', filename='icon/sales.svg') }}" />
            営業フォーム
          </a>
          <a class="nav-item nav-link" href="{{ url_for('search.factory') }}" onclick="showLoading()">
            <img width="23px" src="{{ url_for('static', filename='icon/factory.svg') }}" />
            工場フォーム
          </a>
          <a class="nav-item nav-link" href="{{ url_for('crud.index') }}" onclick="showLoading()">
            <img width="23px" src="{{ url_for('static', filename='icon/setting.svg') }}" />
            管理画面
          </a>
        </div><!--.navbar-nav-->
      </div><!--#navmenu1-->
    </nav>

    <!--メイン画面-->
    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div><!-- .container-fluid -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block script %}{% endblock %}
  </body>
</html>