{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}

{% block title %}初期画面{% endblock %}

{% block content %}

<p class="subtitle">
  簡易検索
</p>
<ul>
  <li>
    <a href="{{ url_for('search.index') }}">
      <img class="iconStartMenu" src="{{ url_for('static', filename='image/icoSales.svg') }}" />
      <p class="iconStartMenu">営業</p>
    </a>
  </li>
  <li>
    <a href="{{ url_for('search.index') }}">
      <img class="iconStartMenu" src="{{ url_for('static', filename='image/icoFactory.svg') }}" />
      <p class="iconStartMenu">工場</p>
    </a>
  </li>
</ul>
<p class="subtitle">
  SQL直接問い合わせ
</p>
<ul>
  <li>
    <a href="{{ url_for('direct.index') }}">
      <img class="iconStartMenu" src="{{ url_for('static', filename='image/icoSales.svg') }}" />
      <p class="iconStartMenu">営業</p>
    </a>
  </li>
  <li>
    <a href="{{ url_for('direct.index') }}">
      <img class="iconStartMenu" src="{{ url_for('static', filename='image/icoFactory.svg') }}" />
      <p class="iconStartMenu">工場</p>
    </a>
  </li>
</ul>
<p class="subtitle">その他</p>
<ul>
  <li>
    <a href="https://asp07.wawa.ne.jp/minoru/index.html" target="_blank">
      <img class="iconStartMenu" src="{{ url_for('static', filename='image/photoWaWaOffice.jpg') }}" />
      <p class="iconStartMenu">WaWaOffice</p>
    </a>
  </li>
  <li>
    <a href="https://www.minoru-sangyo.co.jp/" target="_blank">
      <img class="iconStartMenu" src="{{ url_for('static', filename='image/photoMinoru.png') }}" />
      <p class="iconStartMenu">みのる産業</p>
    </a>
  </li>
</ul>

{% endblock %}
