<!-- 営業用　クエリフォーム -->
<div class="subtitle">
  <img src="/static/image/ico/edit.png" alt="フォーム">
  入力フォーム
  <button type="button" title="入力データを全て空にします" 
  onclick="clearClassValue('form');">クリア</button>
</div><!--subtitle-->
<div id="extract" class="main-form">
  <table>
    <tbody>
      <tr>
        <td><label for="first-date">開始日付:</label></td>
        <td><input type="date" class="form" id="first-date"
          name="first_date" value="{{ first_date }}" max="9999-12-31"></td>
        <td></td>
      </tr>
      <tr>
        <td><label for="last-date">終了日付:</label></td>
        <td>
          <input type="date" class="form" id="last-date"
          name="last_date" value="{{ last_date }}" max="9999-12-31">
        </td>
        <td></td>
      </tr>
      <tr>
        <td><label for="customer-code">得意先コード：</label></td>
        <td>
          <input type="text" class="form" id="customer-code" name="customer_code">
        </td>
        <td>
          <button name="db_name" value="得意先マスタ">得意先マスタ</button>
        </td>
      </tr>
      <tr>
        <td><label for="buyer-code">雑コード：</label></td>
        <td>
          <input type="text" class="form" id="buyer-code"
           name="buyer_code" value="{{ buyer_code }}">
        </td>
        <td>
          <button name="db_name" value="雑マスタ">雑マスタ</button>
        </td>
      </tr>
      <tr>
        <td><label for="destination-code">送荷先コード：</label></td>
        <td>
          <input type="text" class="form" id="destination-code"
          name="destination_code" value="{{ destination_code }}">
        </td>
        <td>
          <button name="db_name" value="送荷先マスタ">送荷先マスタ</button>
        </td>
      </tr>
      <tr>
        <td><label for="goods-sales-code">製品部品コード：</label></td>
        <td>
        <input type="text" class="form" id="goods-sales-code"
        name="goods_sales_code" value="{{ goods_sales_code }}">
        <select class="form" name="goods_sales_flg">
            {% if goods_sales_flg   == "Product" %}
            <option value=""></option>
            <option value="Product" selected>製品のみ</option>
            <option value="Parts">部品のみ</option>
            {% elif goods_sales_flg == "Parts" %}
            <option value=""></option>
            <option value="Product">製品のみ</option>
            <option value="Parts" selected>部品のみ</option>
            {% else %}
            <option value="" selected></option>
            <option value="Product">製品のみ</option>
            <option value="Parts">部品のみ</option>
            {% endif %}
        </select>
        </td>
        <td><button name="db_name" value="製品部品マスタ">製品部品マスタ</button></td>
      </tr>
      <tr>
        <td><label for="customer-manager-code">担当者コード：</label></td>
        <td>
          <input type="text" class="form" id="customer-manager-code"
          name="customer_manager_code" value="{{ customer_manager_code }}">
        </td>
        <td>
          <button name="db_name" value="担当者マスタ">担当者マスタ</button>
        </td>
      </tr>
      <tr>
        <td><label for="shipping-category">伝票区分コード：</label></td>
        <td>
          <input type="text" class="form" id="shipping-category"
          name="shipping_category" value="{{ shipping_category }}">
        </td>
        <td>
          <button name="db_name" value="伝票区分マスタ">伝票区分マスタ</button>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="comments">
    ※条件指定方法 - 区切りOR:[,|],AND:[&amp;]&nbsp;記号[&equals;,&gt;,&lt;,&gt;&equals;,&lt;&equals;]
    <br>
    最終更新日付:{{ LastRefreshDate }}
  </div><!--comments-->
    <button class="bigbutton" name="db_name" value="売上データ" onclick="showLoading();">売上データ</button>
    <button class="bigbutton" name="db_name" value="出荷データ" onclick="showLoading();">出荷データ</button>
    <button name="db_name" value="出荷データ（九州）" onclick="showLoading();">九州</button>
    <button name="db_name" value="出荷データ（長野）" onclick="showLoading();">長野</button>
  </div><!--main-form-->