{% extends "common/base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static',filename='css/table.css') }}">
{% endblock %}

{% block content %}
<form method="POST">
  <div class="content">
    {% if user_dic["department"] == "Sales" %}
      <div class="display-none">
        <button name="db_name" value="売上データ" onclick="showLoading();"></button>
      </div><!--.display-none-->
      {% include "common/form_sales.html" %}
    {% elif user_dic["department"] == "Plant" %}
      <div class="display-none">
        <button name="db_name" value="仕入データ" onclick="showLoading();"></button>
      </div><!--display-none-->
      {% include "common/form_plant.html" %}
    {% endif %}
  </div><!--content-->
</form>
{% endblock %}
