{% extends "base.html" %}

{% block title %}
管理画面
{% endblock %}

{% block content %}

<h2>データ参照</h2>
<form action="{{ url_for('crud.read') }}" method="POST" novalidate="novalidate">
  {{ read_form.csrf_token }}
  {% from "_formhelpers.html" import render_field %}
  {{ render_field(read_form.tablename) }}
  {{ render_field(read_form.where) }}
  <p>{{ read_form.submit(class_="btn btn-primary", onclick="showLoading();") }}</p>
</form>

<h2>データ同期</h2>
<form action="{{ url_for('crud.index') }}" method="POST" novalidate="novalidate">
  {{ create_form.csrf_token }}
  {% from "_formhelpers.html" import render_field %}
  {{ render_field(create_form.first_date) }}
  {{ render_field(create_form.last_date) }}
  {{ render_field(create_form.db_name) }}
  <p>{{ create_form.submit(class_="btn btn-primary", onclick="showLoading();") }}</p>
</form>

<h2>お問い合わせ先</h2>
Mail:
<a href="mailto:h-kitaura@minoru-sangyo.co.jp">
  h-kitaura@minoru-sangyo.co.jp
</a>

{% endblock %}
