{% extends "base.html" %}

{% block title %}
<a href="{{ url_for('crud.index') }}">管理画面</a>
{% endblock %}

{% block content %}

<h2>データ参照</h2>
<form action="{{ url_for('crud.read') }}" method="POST" novalidate="novalidate">
{{ form.csrf_token }}
<p>{{ form.tablename.label }} {{ form.tablename }}</p>
{% for error in form.tablename.errors %}
<span style="color: red;">{{ error }}</span>
{% endfor %}
<p>{{ form.where.label }} {{ form.where }}</p>
{% for error in form.where.errors %}
<span style="color: red;">{{ error }}</span>
{% endfor %}
<p>{{ form.submit() }}</p>
</form>

<h2>データテーブル</h2>
{{ df | safe }}

{% endblock %}