{% extends "base.html" %}

{% block title %}営業フォーム{% endblock %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('search.static', filename='css/style.css') }}" />

{% endblock %}

{% block content %}

<h2>
  <a class="btn" onclick="toggleID('#main-form')">
    <img width="30px" src="{{ url_for('search.static', filename='icon/edit.svg') }}" />
  </a>
  フォーム
  <a class="btn" onclick="clearClassValue('form-control')">
    <img width="30px" src="{{ url_for('search.static', filename='icon/clear.svg') }}" />
  </a>
</h2>
<div id="main-form">
  <form action="{{ url_for('search.sales') }}" method="POST" novalidate="novalidate">
    {{ form.csrf_token }}
      <dl class="row
        row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1"
      >
        {% from "_formhelpers.html" import render_field %}
        {{ render_field(form.tablename) }}
        {{ render_field(form.first_date) }}
        {{ render_field(form.last_date) }}
        {{ render_field(form.shipping_category, master="伝票区分マスタ") }}
        {{ render_field(form.customer, master="得意先コードマスタ") }}
        {{ render_field(form.buyer, master="送荷先コードマスタ") }}
        {{ render_field(form.destination, master="送荷先コードマスタ") }}
        {{ render_field(form.goods_sales, master="品目コードマスタ（営業）") }}
        {{ render_field(form.goods_sales_filter) }}
        {{ render_field(form.shipping_category_filter) }}
        {{ render_field(form.shipping_slip_number) }}
      </dl>
    <div class="row justify-content-around">
      {{ form.submit_ok(class_="col-1 btn btn-primary") }}
      {{ form.submit_download(class_="col-1 btn btn-primary") }}
    </div>
  </form>
</div><!-- #main-form -->
{% if tablename %}
<h2>
  <a class="btn" onclick="toggleID('#main-table')">
    <img width="30px" src="{{ url_for('search.static', filename='icon/documents.svg') }}" />
  </a>
  {{ tablename }}
</h2>
<div id="main-table">
  <table class="talbe table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>伝票日付</th>
        <th>伝区</th>
        <th>委託</th>
        <th>扱い</th>
        <th>運送会社</th>
        <th>担当者</th>
        <th>得意先CD</th>
        <th>得意先名</th>
        <th>雑CD</th>
        <th>雑名</th>
        <th>送荷先CD</th>
        <th>送荷先名</th>
        <th>製品部品CD</th>
        <th>製品部品名</th>
        <th>級区分</th>
        <th>数量</th>
        <th>単価</th>
        <th>金額</th>
        <th>出荷伝票番号</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
      {% for list in df_lists %}
      <tr>
        {% for d in list %}
        <td>{{ d }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div><!-- #main-table -->
{% endif %}

{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ url_for('search.static', filename='js/scripts.js') }}"></script>

{% endblock %}
